<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
  <h1>Sobre</h1>
</section>

<section class="content">
    <p class="lead">
      Meat | Aplicação que demonstra as features do Angular
    </p>
    <p class="lead">
      MIT license
    </p>
    <p class="lead">Copyright 2018 COD3R (<a href="http://www.cod3r.com.br">http://www.cod3r.com.br</a>)</p>
    <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">É concedida permissão, gratuitamente, a qualquer pessoa que obtenha uma cópia deste software e dos arquivos de documentação associados (o "Software"), para negociar o Software sem restrições, incluindo, sem limitação, os direitos de uso, cópia, modificação e fusão , publicar, distribuir, sublicenciar e / ou vender cópias do Software, e permitir que as pessoas a quem o Software é fornecido o façam, sujeitas às seguintes condições:</font></font></p>
    <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">O aviso de copyright acima e este aviso de permissão devem ser incluídos em todas as cópias ou partes substanciais do Software.            </font></font></p>
  </section>
<!-- FIM DO CONTEÚDO -->